<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper">
        <section id="articles-section">
            <header class="articles-header">Web Scraper
                <h2>CBS News</h2>
                <button id="scrape-button">SCRAPE MORE</button>
            </header>

            <main class="articles-main">
                {{{ body }}}
            </main>
        </section>
        <section id="comments-section">
            <header class="comments-header">CBS News Web Scraper</header>

            <div class="comments-headline">
                <div class="headline-image"></div>
                <div class="headline-text"></div>
            </div>

            <main class="comments-main">
                <div class="comments-div"></div>
                <form class="comment-form">
                    <label id="name-label" for="name-input">Name</label>
                    <input class="input" id="name-input" name="name-input" placeholder="Your name" type="text">

                    <label id="comment-label" for="comment-input">Comments</label>
                    <input class="input" id="comment-input" name="comment-input" placeholder="What would you like to say?">

                    <button id="submit-button">POST YOUR COMMENTS</button>
                </form>
            </main>
        </section>
        <div class="push"></div>
    </div>

    <footer>
        <div>All Rights Reserved</div>
    </footer>
</body>

<!-- link to jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script language="JavaScript" src="javascript/index.js"></script>
</html>