<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper">
        <header class="header">Web Scraper
            <h2>CBS News</h2>
            <button id="scrape-button">SCRAPE MORE</button>
        </header>

        <main class="main">
            {{{ body }}}
        </main>
        <div class="push"></div>
    </div>

    <footer>
        <div>All Rights Reserved</div>
        <div class="page-name">index.html</div>
    </footer>
</body>

<!-- link to jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script language="JavaScript" src="javascript/index.js"></script>
</html>