@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{   box-sizing: border-box;
}

:root
{   --color: black;
}

body
{   background: gray;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

header
{   font-family: "Fredoka One", cursive;
    font-size: 10vh;
    height: 30vh;
    margin: 0px;
    padding: 10vh;
    text-align: center;
}

main
{   min-height: 50vh;
    text-align: center;
    vertical-align: center;
}

/*                                         */
/* style specific to sticky footer         */
/*                                         */

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin-bottom: -33px;
    min-height: 100%;
}

.push
{   height: 33px;
}

footer
{   background: darkgray;
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 10px;
}

footer div
{   flex-grow: 1;
    width: 45%;
}

footer .page-name
{   text-align: right;
}

/*                                         */
/* media queries for responsive design     */
/*                                         */

@media screen and (max-width: 572px)
{   header
    {   font-size: 8vh;
    }
}