@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{   box-sizing: border-box;
}

:root
{   --color: black;
    --article-background: black;
    --article-color: white;
    --button-background: #4f4fff;
    --button-color: white;
}

body
{   font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.articles-header
{   background: rgba(255, 0, 0, 0.5);
    font-family: "Fredoka One", cursive;
    font-size: 40px;
    height: 250px;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

.articles-header h2
{   font-size: 30px;
    margin: 5px;
}

#comments-section
{   display: none;
}

.comments-header
{   background: rgba(255, 0, 0, 0.5);
    font-family: "Fredoka One", cursive;
    font-size: 24px;
    height: 60px;
    margin: 0px auto;
    padding: 15px;
    text-align: left;
    max-width: 900px;
    width: 90vw;
}

main
{   background: rgba(0, 255, 0, 0.5);
}

button
{   background: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: center;
}

button:hover
{   background: white;
    color: blue;
}

/*                                         */
/* the articles                            */
/*                                         */

.article-wrapper
{   background: rgba(0, 0, 255, 0.5);
    width: 100%;
}

.article-item
{   border: 2px solid var(--article-background);
    border-radius: 5px;
    margin: 0px auto 10px;
    max-width: 900px;
    width: 90vw;
}

.article-headline
{   background: var(--article-background);
    color: var(--article-color);
    padding: 5px;
    text-align: center;
}

.article-data
{   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article-img
{   background: rgba(255, 255, 0, 0.5);
    flex-grow: 0;
    max-width: 100px;
    width: 25%;
}

.article-img img
{
    width: 100%;
}

.article-details
{   background: rgba(0, 255, 255, 0.5);
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    text-align: left;
    width: 50%;
}

.article-text
{   background: rgba(255, 0, 255, 0.5);
    flex-grow: 1;
    padding: 10px;
    text-align: left;
}

.article-buttons
{   flex-grow: 0;
    margin-top: 10px;
    width: 100%;
}

.article-buttons button
{   background: var(--button-background);
    border-color: var(--button-background);
    color: var(--article-background);
}

.article-buttons button:hover
{   background: var(--button-color);
    color: var(--button-background);
}

/*                                         */
/* style specific to the comments          */
/*                                         */

.comments-wrapper
{   background: rgba(0, 0, 255, 0.5);
    width: 100%;
}

.comments-div
{   border: 2px solid var(--article-background);
    border-radius: 5px;
    margin: 0px auto 10px;
    max-width: 900px;
    width: 90vw;
}

/*                                         */
/* style specific to the form              */
/*                                         */

.comment-form
{   border: 2px solid black;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 900px;
    padding: 10px;
    width: 90vw;
}

.input
{   border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

textarea
{   height: 100px;
    margin-bottom: 10px;
}

#submit-button
{   background: var(--button-background);
    border: 1px solid var(--button-background);
    border-radius: 5px;
    border-color: var(--button-background);
    color: var(--button-color);
    padding: 5px;
}

#submit-button:hover
{   background: var(--button-color);
    color: var(--button-background);
}

/*                                         */
/* style specific to sticky footer         */
/*                                         */

body, html
{   height: 100%;
}

.wrapper
{   background: rgba(0, 255, 255, 0.5);
    height: auto;
    margin-bottom: -31px;
    min-height: 100%;
}

.push
{   background: yellow;
    height: 31px;
}

footer
{   background: darkgray;
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 10px;
}

footer div
{   flex-grow: 1;
    width: 45%;
}

footer .page-name
{   text-align: right;
}

/*                                         */
/* media queries for responsive design     */
/*                                         */

@media screen and (max-width: 572px)
{
}