@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{   box-sizing: border-box;
}

:root
{   --color: black;
    --article-background: navy;
    --article-color: white;
    --button-background: #4f4fff;
    --button-color: white;
}

body
{   font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.articles-header
{   background: skyblue;
    border-bottom: 2px solid blue;
    font-family: "Fredoka One", cursive;
    font-size: 40px;
    height: 250px;
    margin: 0px 0px 20px;
    padding: 50px;
    text-align: center;
}

.articles-header h2
{   font-size: 30px;
    margin: 5px;
}

#comments-section
{   display: none;
}

.header-wrapper
{   background: skyblue;
    border-bottom: 2px solid blue;
    margin-bottom: 40px;
    width: 100%;
}

.comments-header
{   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "Fredoka One", cursive;
    font-size: 24px;
    height: 60px;
    margin: 0px auto;
    padding: 15px;
    text-align: left;
    max-width: 900px;
    width: 90vw;
}

.title
{   flex-grow: 1;
    text-align: left;
    width: 50%;
}

.article-button
{   background: var(--button-background);
    border-color: var(--button-background);
    color: var(--article-background);
    display: block;
    flex-grow: 0;
    margin-bottom: 15px;
}

.article-button:hover
{   background: var(--button-color);
    color: var(--button-background);
}

button
{   background: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: center;
}

button:hover
{   background: white;
    color: blue;
}

/*                                         */
/* the articles                            */
/*                                         */

.article-wrapper
{   width: 100%;
}

.article-item
{   background: lightgray;
    margin: 0px auto 40px;
    max-width: 900px;
    width: 90vw;
}

.article-headline
{   background: var(--article-background);
    border: 1px solid var(--article-background);
    border-radius: 5px;
    color: var(--article-color);
    padding: 5px;
    text-align: center;
}

.article-text
{   padding: 10px;
    text-align: left;
}

.comment-button
{   background: var(--button-background);
    border-color: var(--button-background);
    color: var(--article-background);
    width: 100%;
}

.comment-button:hover
{   background: var(--button-color);
    color: var(--button-background);
}

/*                                         */
/* style specific to the comments          */
/*                                         */

.comments-headline
{   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px auto 10px;
    max-width: 900px;
    width: 90vw;
}

.headline-image
{   flex-grow: 0;
    height: 100%;
    margin-right: 10px;
    width: auto;
}

.headline-text
{   flex-grow: 1;
    width: 50%;
}

.comments-div
{   margin: 0px auto 10px;
    max-width: 900px;
    width: 90vw;
}

.the-comment
{   background: lightgray;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
}

.headline-p
{   font-size: 16px;
    font-weight: bold;
}

/*                                         */
/* style specific to the form              */
/*                                         */

.comment-form
{   border: 2px solid black;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 900px;
    padding: 10px;
    width: 90vw;
}

.input
{   border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

#submit-button
{   background: var(--button-background);
    border: 1px solid var(--button-background);
    border-radius: 5px;
    border-color: var(--button-background);
    color: var(--button-color);
    padding: 5px;
}

#submit-button:hover
{   background: var(--button-color);
    color: var(--button-background);
}

/*                                         */
/* style specific to sticky footer         */
/*                                         */

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin-bottom: -31px;
    min-height: 100%;
}

.push
{   height: 31px;
}

footer
{   display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 10px;
}

footer div
{   flex-grow: 1;
    width: 45%;
}

footer .page-name
{   text-align: right;
}

/*                                         */
/* media queries for responsive design     */
/*                                         */

@media screen and (max-width: 572px)
{
    .comments-header
    {   display: block;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px auto;
        text-align: left;
        width: 90vw;
    }

    .title
    {   text-align: left;
        width: 100%;
    }

    .comments-headline
    {   display: block;
        text-align: left;
        margin: 30px auto 10px;
    }

    .headline-image
    {   height: 100%;
        margin-right: 10px;
        text-align: center;
        width: auto;
    }

    .headline-text
    {   width: 100%;
    }
}