<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{{{ body }}}
</body>

<!-- link to jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script language="JavaScript" src="assets/javascript/app.js"></script>
</html>